<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<auth>
		<username>admin</username>
		<passwordHash>Admin123</passwordHash>
	</auth>
	<storage>
		<projectsPath>../data/projects.xml</projectsPath>
		<encoding>windows-1250</encoding>
	</storage>
	<logging>
		<logPath>../logs/app-.log</logPath>
		<fileSizeLimit>10</fileSizeLimit>
		<retainedFiles>5</retainedFiles>
		<minimumLevel>Information</minimumLevel>
	</logging>
</configuration>
